.extensions {
  width: 100%;
  height: 100vh;

  &__header {
    text-align: center;
    margin-top: 21.5rem;
  }

  &__subtext {
    text-align: center;
    width: 72rem;
    margin: 0 auto;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 34rem;
    height: 53rem;
    border-radius: 2rem;
    box-shadow: 0rem 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.1);
    margin-top: 6.5rem;
    margin-bottom: 14.5rem;

    &--grid-container {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(5, 1fr);
      width: 100%;
      height: 81.5rem;
    }

    &__chrome {
      grid-row: 1 / -1;
      grid-column: 2 / 3;
      justify-self: end;
    }

    &__firefox {
      grid-row: 1 / -1;
      grid-column: 3 / 4;
      align-self: center;
    }
    &__opera {
      grid-row: 1 / -1;
      grid-column: 4 / 5;
      align-self: end;
    }

    &__img--browser {
      padding-top: 8.5rem;
      width: 13.5rem;
    }

    & h3 {
      font-size: 2.2rem;
      font-weight: 500;
      margin-top: 4.5rem;
      margin-bottom: 0rem;
    }

    & p {
      font-size: 1.6rem;
      margin-top: 2.2rem;
    }

    &__img--bg-dots {
      width: 100%;
      margin-top: 5rem;
    }

    & button {
      @include btn(white, $soft-blue);
      outline: none;
      border: Solid $soft-blue;
      border-radius: 0.5rem;
      font-size: 1.6rem;
      padding-left: 4.2rem;
      padding-right: 4.2rem;
      margin: 3.5rem;

      &:active {
        transform: translateY(1.5px);
        box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
      }

      &:hover {
        color: $soft-blue;
        background-color: white;

      }
    }
  }
}
