.features {
  @media only screen and (max-width: $bp-large) {
    margin-top: 50rem;
  }

  &__heading {
    text-align: center;
  }

  &__subtext {
    text-align: center;
    max-width: 72rem;
    margin: 0 auto;
    padding-bottom: 6rem;

    @media only screen and (max-width: $bp-small) {
      padding-bottom: 0;
    }
  }

  //   &__tabs__container {
  //     //   display: flex;
  //   }

  &__tabs {
    width: 97.5rem;
    height: 10rem;
    margin: 0 auto;

    // display: flex;
    // justify-content: center;

    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: 1fr;

    @media only screen and (max-width: $bp-small) {
      // flex-direction: column;
      width: 100%;
      height: 100%;

      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, min-content);
    }

    & button {
      width: 100%;
      height: 100%;
      font-size: 2.2rem;
      color: $grayish-blue;
      background-color: white;
      font-family: "Rubik", sans-serif;
      border: none;
      outline: none;

      @media only screen and (max-width: $bp-small) {
        width: 49rem;
        height: 7.5rem;
        border-bottom: 1px solid lightgrey;

        margin: 0 auto;
      }
    }

    &__tab--empty {
      display: none;
      @media only screen and (max-width: $bp-small) {
        display: block;

        grid-column: 1 / -1;
      }
    }

    &__tab--1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      @media only screen and (max-width: $bp-small) {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
      }
    }
    &__tab--2 {
      grid-column: 2 / 3;
      @media only screen and (max-width: $bp-small) {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
      }
    }
    &__tab--3 {
      grid-column: 3 / 4;
      @media only screen and (max-width: $bp-small) {
        grid-column: 1 / -1;
        grid-rwo: 4 /5;
      }
    }

    &__tab--1.active {
      color: black;
    }
    &__tab--2.active {
      color: black;
    }
    &__tab--3.active {
      color: black;
    }

    // &__divs {
    //   // display: flex;
    //   // justify-content: center;

    //   display: grid;

    //   @media only screen and (max-width: $bp-small) {
    //     flex-direction: column;
    //   }

    & div {
      // align-self: center;
      width: 32.5rem;
      height: 0.5rem;
      box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);

      justify-self: center;
    }

    &__div--1 {
      grid-column: 1 / 2;
      align-self: end;

      @media only screen and (max-width: $bp-small) {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
      }
    }
    &__div--2 {
      grid-column: 2 / 3;
      align-self: end;

      @media only screen and (max-width: $bp-small) {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
      }
    }

    &__div--3 {
      grid-column: 3 / 4;
      align-self: end;

      @media only screen and (max-width: $bp-small) {
        grid-column: 1 / -1;
        grid-row: 4 / 5;
      }
    }

    &__div--1.active {
      background-color: $soft-red;
    }
    &__div--2.active {
      background-color: $soft-red;
    }
    &__div--3.active {
      background-color: $soft-red;
    }
    // }

    &__grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;

      @media only screen and (max-width: $bp-large) {
        grid-template-columns: 1fr minmax(31rem, 71.5rem) 1fr;
        grid-template-rows: 1fr min-content;
      }

      & p {
        font-size: 2.7rem;
      }

      & button {
        @include btn(white, $soft-blue);
        border: none;
        outline: none;
        border-radius: 0.5rem;
        padding: 2rem 3rem;

        &:active {
          transform: translateY(1.5px);
          box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
        }

        @media only screen and (max-width: $bp-large) {
          display: none;
        }
      }
    }

    &__tab-1__img {
      grid-area: 1 / 1 / -1 / 2;
      justify-content: center;
      align-self: center;
      padding-left: 25%;
      width: 100%;
      visibility: hidden;

      &.active {
        visibility: visible;
      }

      @media only screen and (max-width: $bp-large) {
        grid-area: 1 / 2 / 2 / 3;
        // padding-right: 25%;
        padding-left: 0;
      }
    }

    &__tab-2__img {
      grid-area: 1 / 1 / -1 / 2;
      justify-content: center;
      align-self: center;
      padding-left: 32.5rem;
      width: 100%;
      padding-top: 9.5rem;
      visibility: hidden;

      &.active {
        visibility: visible;
      }

      @media only screen and (max-width: $bp-large) {
        grid-area: 1 / 2 / 2 / 3;
        // padding-right: 25%;
        padding-left: 0;
      }
    }

    &__tab-3__img {
      grid-area: 1 / 1 / -1 / 2;
      justify-content: center;
      align-self: center;
      padding-left: 32.5rem;
      width: 100%;
      visibility: hidden;

      &.active {
        visibility: visible;
      }

      @media only screen and (max-width: $bp-large) {
        grid-area: 1 / 2 / 2 / 3;
        // padding-right: 25%;
        padding-left: 0;
      }
    }

    &__background-shape {
      max-width: 85rem;
      max-height: 47rem;
      background-color: $soft-blue;
      border-radius: 0 30rem 20rem 0;
      grid-area: 1 / 1 / -1 / 2;
      margin-top: 20rem;

      @media only screen and (max-width: $bp-largest) {
        max-height: 55rem;
      }

      @media only screen and (max-width: $bp-large) {
        grid-area: 1 / 1 / 2 / 3;
      }
    }

    &__tab-1__content {
      grid-area: 1 / 2 / -1 / 3;
      justify-content: start;
      padding-top: 16.3rem;
      padding-left: 17.5%;
      visibility: hidden;

      &--subtext {
        max-width: 65rem;
        // height: 10rem;
      }

      &.active {
        visibility: visible;
      }

      @media only screen and (max-width: $bp-large) {
        padding-top: 4.2rem;

        grid-area: 2 / 1 / 3 / -1;
        text-align: center;
        padding-left: 0;
        justify-self: center;
      }
    }

    &__tab-2__content {
      grid-area: 1 / 2 / -1 / 3;
      justify-content: start;
      padding-top: 16.3rem;
      padding-left: 16.5rem;
      visibility: hidden;

      &--subtext {
        width: 57.5rem;
        height: 10rem;
      }

      &.active {
        visibility: visible;
      }

      @media only screen and (max-width: $bp-large) {
        padding-top: 4.2rem;

        grid-area: 2 / 1 / 3 / -1;
        text-align: center;
        padding-left: 0;
        justify-self: center;
      }
    }

    &__tab-3__content {
      grid-area: 1 / 2 / -1 / 3;
      justify-content: start;
      padding-top: 16.3rem;
      padding-left: 16.5rem;
      visibility: hidden;

      &--subtext {
        width: 65rem;
        height: 10rem;
      }

      &.active {
        visibility: visible;
      }

      @media only screen and (max-width: $bp-large) {
        padding-top: 4.2rem;

        grid-area: 2 / 1 / 3 / -1;
        text-align: center;
        padding-left: 0;
        justify-self: center;
      }
    }
  }
}
