.features {
  &__heading {
    text-align: center;
  }

  &__subtext {
    text-align: center;
    width: 72rem;
    margin: 0 auto;
    padding-bottom: 6rem;
  }

  //   &__tabs__container {
  //     //   display: flex;
  //   }

  &__tabs {
    width: 97.5rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    // padding: 6rem 0rem;

    & button {
      width: 100%;
      height: 100%;
      font-size: 2.2rem;
      color: $grayish-blue;
      background-color: white;
      font-family: "Rubik", sans-serif;
      border: none;
      outline: none;
    }

    &__divs {
      display: flex;
      justify-content: center;

      & div {
        align-self: center;
        width: 32.5rem;
        height: 0.5rem;
        box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
      }
    }

    &__grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;

      & p {
        font-size: 2.7rem;
      }

      & button {
        @include btn(white, $soft-blue);
        border: none;
        outline: none;
        border-radius: 0.5rem;
        padding: 2rem 3rem;
      }
    }

    &__tab-1__img {
      grid-area: 1 / 1 / -1 / 2;
      justify-content: center;
      align-self: center;
      padding-left: 25%;
      width: 100%;
    }

    &__tab-2__img {
      grid-area: 1 / 1 / -1 / 2;
      justify-content: center;
      align-self: center;
      padding-left: 32.5rem;
      width: 100%;
      padding-top: 9.5rem;
    }

    &__tab-3__img {
      grid-area: 1 / 1 / -1 / 2;
      justify-content: center;
      align-self: center;
      padding-left: 32.5rem;
      width: 100%;
    }

    &__background-shape {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 85rem;
      height: 47rem;
      background-color: $soft-blue;
      border-radius: 0 30rem 20rem 0;
      grid-area: 1 / 1 / -1 / 2;
      margin-top: 20rem;
    }

    &__tab-1__text {
      grid-area: 1 / 2 / -1 / 3;
      justify-content: start;
      padding-top: 16.3rem;
      padding-left: 16.5rem;

      &--subtext {
        width: 65rem;
        height: 10rem;
      }
    }

    &__tab-2__text {
      grid-area: 1 / 2 / -1 / 3;
      justify-content: start;
      padding-top: 16.3rem;
      padding-left: 16.5rem;

      &--subtext {
        width: 57.5rem;
        height: 10rem;
      }
    }

    &__tab-3__text {
      grid-area: 1 / 2 / -1 / 3;
      justify-content: start;
      padding-top: 16.3rem;
      padding-left: 16.5rem;

      &--subtext {
        width: 65rem;
        height: 10rem;
      }
    }
  }
}

.active {
  background-color: $soft-red;
}
