.footer {
  background-color: $soft-blue;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__subtext {
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-top: 9.5rem;
    margin-bottom: 0;
  }

  &__form {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }

    &__container {
      position: relative;
      // background-color: $soft-red;
      padding-bottom: 3rem;
      border-radius: 5px;

      &.error {
        background-color: $soft-red;

        & input {
          border-color: $soft-red;
        }

        & i.fa-exclamation-circle {
          visibility: visible;
        }

        & small {
          visibility: visible;
        }
      }

      & i {
        visibility: hidden;
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        font-size: 3rem;
        color: $soft-red;
      }

      & small {
        visibility: hidden;
        position: absolute;
        font-size: 1.2rem;
        font-style: italic;
        font-weight: 500;
        color: white;
        padding-top: 0.5rem;
        padding-left: 1.5rem;
      }
    }

    &__email {
      color: black;
      font-size: 1.8rem;
      padding-top: 1.7rem;
      padding-bottom: 1.7rem;
      font-family: inherit;
      font-weight: 400;
      border-radius: 0.5rem;
      border: solid white;
      padding-left: 2.5rem;
      display: block;

      &:focus {
        outline: none;
      }

      &::-webkit-input-placeholder {
        /* Chrome, Opera, Safari */
        color: rgba(145, 148, 161, 0.5);
      }

      &::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(145, 148, 161, 0.5);
      }

      &:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(145, 148, 161, 0.5);
      }

      &:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(145, 148, 161, 0.5);
      }
    }

    &__submit {
      color: white;
      background-color: $soft-red;
      font-size: 1.8rem;
      padding-top: 1.7rem;
      padding-bottom: 1.7rem;
      font-family: inherit;
      box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
      font-weight: 500;
      border-radius: 0.5rem;

      cursor: pointer;
      outline: none;
      border: solid $soft-red;
      padding-left: 3rem;
      padding-right: 3rem;
      margin-left: 2rem;
      max-height: 6.2rem; // this stays it's the height of the email input

      &:hover {
        background-color: white;
        color: $soft-red;
      }

      &:active {
        transform: translateY(1.5px);
        box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
      }

      @media only screen and (max-width: $bp-medium) {
        margin-left: 0;
      }
    }
  }

  &__header {
    color: white;
    text-align: center;
    width: 54.5rem;
    font-size: 4.2rem;
    margin: 6rem 0;
  }

  &__nav {
    display: flex;
    background-color: $very-dark-blue;
    width: 100%;
    height: 12rem;
    margin-top: 10rem;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;

      height: 42rem;
    }

    &__links {
      list-style: none;
      display: flex;
      @include font-styles;
      align-items: center;

      & a {
        text-decoration: none;
        color: white;

        &:hover {
          color: $soft-red;
        }
      }

      & li {
        margin: 0;
        padding: 0rem 3rem;

        @media only screen and (max-width: $bp-medium) {
          padding: 0;
        }
      }

      @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
        gap: 4.4rem;
        padding: 0;
        font-size: 1.6rem;

        margin: 5rem 0;
      }
    }

    &__logo {
      display: flex;
      align-items: center;
      padding-left: 22rem;
      
      @media only screen and (max-width: $bp-medium) {
        padding-left: 0;
        margin: 0 auto;
        margin-top: 5rem;
      }
    }

    &__socials-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @media only screen and (max-width: $bp-medium) {
        justify-content: center;
        gap: 5rem;
      }
    }

    &__socials {
      &.twitter {
        padding-right: 22rem;

        @media only screen and (max-width: $bp-medium) {
          padding: 0;
        }
      }

      &.facebook {
        padding: 0 5rem;

        @media only screen and (max-width: $bp-medium) {
          padding: 0;
        }
      }
    }

    &__facebook:hover {
      fill: $soft-red;
      cursor: pointer;
    }

    &__twitter--path {
      &:hover {
        fill: $soft-red;
        cursor: pointer;
      }
    }
  }
}

.attribution-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.attribution-container {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}
