@import "variables";

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

// Percentage units to rem units conversion
// 62.5% = 10px
// 1rem = 10px

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding-left: 22rem;
  padding-right: 8.0rem;
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3.3rem;
}

p {
  color: $grayish-blue;
  font-size: 1.8rem;
}

/* // Flexbox
.flex {
  display: flex;

  &-jc-sb {
      justify-content: space-between;
  }

  &-jc-c {
      justify-content: center;
  }

  &-jc-fe {
      justify-content: flex-end;
  }

  &-ai-c {
      align-items: center;
  }
}
 */
