html {
  font-size: 62.5%;
  box-sizing: border-box;
}

// Percentage units to rem units conversion
// 62.5% = 10px 
// 1rem = 10px

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0rem 22.0rem;
  font-family: "Rubik", sans-serif;
}


/* // Flexbox
.flex {
  display: flex;

  &-jc-sb {
      justify-content: space-between;
  }

  &-jc-c {
      justify-content: center;
  }

  &-jc-fe {
      justify-content: flex-end;
  }

  &-ai-c {
      align-items: center;
  }
}
 */