@import "variables";

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

// Percentage units to rem units conversion
// 62.5% = 10px
// 1rem = 10px

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  // padding-left: 22rem;
  // padding-right: 8.0rem;
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 6.4rem;
  font-weight: 500;
}

h2 {
  font-size: 3.3rem;
  font-weight: 500;
}

p {
  color: $grayish-blue;
  font-size: 2.2rem;
}

