@import "mixins";

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 8.5rem;
  padding-left: 11.5%;
  @include font-styles();

  img {
    height: 3.5rem;
    width: 20rem;
  }

  &__logo {
    margin-right: auto;
  }

  &__links {
    list-style: none;
    display: flex;

    & li {
      margin: 0;
      padding: 0rem 3rem;
    }

    & a {
      text-decoration: none;
      color: black;

      &:hover {
        color: $soft-red;
      }
    }
  }

  &__btn-login {
    border: solid $soft-red;
    color: white;
    background-color: $soft-red;
    padding: 1rem 3rem;
    margin-right: 7%;
    border-radius: 0.5rem;
    @include font-styles();
    box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    margin-left: 1.2rem;
    text-shadow: 0rem 0rem 3rem rgb(77, 77, 77);
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: $soft-red;
      border: solid $soft-red;
    }

    &:active {
      transform: translateY(1.5px);
      box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    }
  }
}
