@import "mixins";

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 8.5rem;
  padding-left: 11.5%;
  padding-right: 6%;

  @include font-styles();

  @media only screen and (max-width: $bp-x-small) {
    padding-top: 5rem;
  }

  // Hamburger Open Styles
  &.open {

    .header__logo {

      &--path {
        fill: white;
      }

      &--circle {
        fill: white;
      }

      &--circle-fill{
        fill:  rgba(37, 43, 70, 0.9);
      }
    }
    

    .header__menu {
      > span {
        background-color: white;
      }

      > span:first-child {
        transform: rotate(45deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .overlay {
    opacity: 0;
    position: fixed;
    // top: 12.375rem;
    top: 0rem;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: rgba(37, 43, 70, 0.9);
  }

  img {
    height: 3.5rem;
    width: 20rem;
  }

  &__logo {
    margin-right: auto;
    
    &--path {
      // fill:white;
    }
  }

  &__logo--circle {
    // fill: white;
  }

  &__links {
    list-style: none;
    display: flex;

    & li {
      margin: 0;
      padding: 0rem 3rem;
    }

    & a {
      text-decoration: none;
      color: black;

      &:hover {
        color: $soft-red;
      }
    }

    @media only screen and (max-width: $bp-x-small) {
      display: none;
    }
  }

  &__btn-login {
    border: solid $soft-red;
    color: white;
    background-color: $soft-red;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    @include font-styles();
    box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    margin-left: 1.2rem;
    text-shadow: 0rem 0rem 3rem rgb(77, 77, 77);
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: $soft-red;
      border: solid $soft-red;
    }

    &:active {
      transform: translateY(1.5px);
      box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    }

    @media only screen and (max-width: $bp-x-small) {
      display: none;
    }
  }

  &__menu {
    display: none;

    > span {
      display: block;
      width: 18px;
      height: 3px;
      background-color: $very-dark-blue;
      transition: all 300ms ease-in-out;
      transform-origin: 0.5px center;

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }

    @media only screen and (max-width: $bp-x-small) {
      display: block;
    }
  }
}
