@import "globals";

.hero {
  display: grid;
  grid-template-columns:
    [space-start] 11vw [space-end text-start] minmax(min-content, 77rem)
    [text-end shape-start img-start] minmax(min-content, 82rem)
    [img-end] 1fr [shape-end];
  grid-template-rows: 1fr;
  height: 75rem;
  // padding-left: 22rem;
  // padding-left: 11%;

  @media only screen and (max-width: $bp-large) {
    grid-template-rows: 1fr 1fr;
    margin-top: 8rem;
  }

  &__text {
    grid-area: 1 / text-start / -1 / text-end;
    align-self: center;
    max-width: 72.3rem;

    @media only screen and (max-width: $bp-large) {
      grid-area: 2 / space-start / 3 / img-end;
      justify-self: center;
      text-align: center;
    }

    &__subtext {
      max-width: 64rem;
      height: 14.5rem;
      margin: 0;

      @media only screen and (max-width: $bp-large) {
        margin: 0 auto;
        padding: 0 6rem;
      }
    }
  }

  &__img {
    min-height: 60rem;
    background-size: cover;
    grid-area: 1 / img-start / 2 / img-end;
    align-self: center;
    justify-self: start;

    @media only screen and (max-width: $bp-large) {
      grid-area: 1 / space-start / 2 / img-end;
      justify-self: center;
    }

    @media only screen and (max-width: $bp-medium) {
      max-width: 100%;
      display: block;
      min-height: auto;
    }
  }

  &__background-shape {
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    margin-top: 20rem;
    margin-left: 24rem;
    // width: 72rem;
    max-width: 100%;
    max-height: 47rem;
    background-color: $soft-blue;
    border-radius: 20rem 0 0 20rem;
    grid-area: 1 / shape-start / -1 / shape-end;

    @media only screen and (max-width: $bp-large) {
      grid-area: 1 / space-start / 2 / shape-end;
      // margin-left: 56rem;
      margin-left: 30%;
    }
  }

  &__btn--chrome {
    @include btn(white, $soft-blue);
    border: solid $soft-blue;

    &:hover {
      background-color: white;
      color: $soft-blue;
    }
  }

  &__btn--firefox {
    @include btn(dimgrey, whitesmoke);
    margin-left: 2rem;
    border: solid whitesmoke;

    &:hover {
      background-color: white;
      border: solid dimgrey;
    }
  }

  & button {
    text-decoration: none;
    padding-right: 3rem;
    padding-left: 3rem;
    border-radius: 0.5rem;
    outline: none;
    border-radius: 0.5rem;

    &:active {
      transform: translateY(1.5px);
      box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    }
  }
}
