@mixin font-styles {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-family: inherit;
}

@mixin btn($font-color, $background-color) {
  color: $font-color;
  background-color: $background-color;
  font-size: 1.8rem;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  font-family: inherit;
  box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
}
