html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 6.4rem;
  font-weight: 500;
}

h2 {
  font-size: 3.3rem;
  font-weight: 500;
}

p {
  color: #9194a1;
  font-size: 2.2rem;
}

/* // Flexbox
.flex {
  display: flex;

  &-jc-sb {
      justify-content: space-between;
  }

  &-jc-c {
      justify-content: center;
  }

  &-jc-fe {
      justify-content: flex-end;
  }

  &-ai-c {
      align-items: center;
  }
}
 */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8.5rem;
  padding-left: 22.8rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-family: inherit;
}

.header img {
  height: 3.5rem;
  width: 20rem;
}

.header__logo {
  margin-right: auto;
}

.header__links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__links li {
  margin: 0;
  padding: 0rem 3rem;
}

.header__links a {
  text-decoration: none;
  color: black;
}

.header__btn-login {
  border: solid #fa5757;
  color: white;
  background-color: #fa5757;
  padding: 1rem 3rem;
  margin-right: 14rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-family: inherit;
  -webkit-box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  margin-left: 1.2rem;
  text-shadow: 0rem 0rem 3rem #4d4d4d;
  outline: none;
}

.header__btn-login:hover {
  background-color: white;
  color: #fa5757;
  border: 0.01 rem solid #fa5757;
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  height: 75rem;
  padding-left: 22.0rem;
}

.hero__text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / -1 / 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero__text__subtext {
  width: 64rem;
  height: 14.5rem;
  margin: 0;
}

.hero__img {
  min-height: 60rem;
  background-size: cover;
  grid-area: 1 / 2 / -1 / -1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
}

.hero__background-shape {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 20rem;
  margin-left: 24rem;
  width: 72rem;
  height: 47rem;
  background-color: #5368df;
  border-radius: 20rem 0 0 20rem;
  grid-area: 1 / 2 / -1 / -1;
}

.hero__btn--chrome {
  color: white;
  background-color: #5368df;
  font-size: 1.8rem;
  padding-top: 2.0rem;
  padding-bottom: 2.0rem;
  font-family: inherit;
  -webkit-box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  font-weight: 500;
  border-radius: 0.5rem;
}

.hero__btn--firefox {
  color: dimgrey;
  background-color: whitesmoke;
  font-size: 1.8rem;
  padding-top: 2.0rem;
  padding-bottom: 2.0rem;
  font-family: inherit;
  -webkit-box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  font-weight: 500;
  border-radius: 0.5rem;
  margin-left: 2rem;
}

.hero button {
  text-decoration: none;
  padding-right: 3.3rem;
  padding-left: 3.3rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
}

.features__heading {
  text-align: center;
}

.features__subtext {
  text-align: center;
  width: 72rem;
  margin: 0 auto;
  padding-bottom: 6rem;
}

.features__tabs {
  width: 97.5rem;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.features__tabs button {
  width: 100%;
  height: 100%;
  font-size: 2.2rem;
  color: #9194a1;
  background-color: white;
  font-family: "Rubik", sans-serif;
  border: none;
  outline: none;
}

.features__tabs__divs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__tabs__divs div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 32.5rem;
  height: 0.5rem;
  -webkit-box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

.features__tabs__grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.features__tabs__grid-container p {
  font-size: 2.7rem;
}

.features__tabs__grid-container button {
  color: white;
  background-color: #5368df;
  font-size: 1.8rem;
  padding-top: 2.0rem;
  padding-bottom: 2.0rem;
  font-family: inherit;
  -webkit-box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  font-weight: 500;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 2rem 3rem;
}

.features__tabs__tab-1__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / -1 / 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 25%;
  width: 100%;
}

.features__tabs__tab-2__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / -1 / 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 32.5rem;
  width: 100%;
  padding-top: 9.5rem;
}

.features__tabs__tab-3__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / -1 / 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 32.5rem;
  width: 100%;
}

.features__tabs__background-shape {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 85rem;
  height: 47rem;
  background-color: #5368df;
  border-radius: 0 30rem 20rem 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / -1 / 2;
  margin-top: 20rem;
}

.features__tabs__tab-1__text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / -1 / 3;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 16.3rem;
  padding-left: 16.5rem;
}

.features__tabs__tab-1__text--subtext {
  width: 65rem;
  height: 10rem;
}

.features__tabs__tab-2__text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / -1 / 3;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 16.3rem;
  padding-left: 16.5rem;
}

.features__tabs__tab-2__text--subtext {
  width: 57.5rem;
  height: 10rem;
}

.features__tabs__tab-3__text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / -1 / 3;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 16.3rem;
  padding-left: 16.5rem;
}

.features__tabs__tab-3__text--subtext {
  width: 65rem;
  height: 10rem;
}

.active {
  background-color: #fa5757;
}

.extensions {
  width: 100%;
  height: 100vh;
}

.extensions__header {
  text-align: center;
  margin-top: 21.5rem;
}

.extensions__subtext {
  text-align: center;
  width: 72rem;
  margin: 0 auto;
}

.extensions__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 34rem;
  height: 53rem;
  border-radius: 2rem;
  -webkit-box-shadow: 0rem 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.1);
  margin-top: 6.5rem;
  margin-bottom: 14.5rem;
}

.extensions__card--grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: 81.5rem;
}

.extensions__card__chrome {
  grid-row: 1 / -1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-column-align: end;
      justify-self: end;
}

.extensions__card__firefox {
  grid-row: 1 / -1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.extensions__card__opera {
  grid-row: 1 / -1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.extensions__card__img--browser {
  padding-top: 8.5rem;
  width: 13.5rem;
}

.extensions__card h3 {
  font-size: 2.2rem;
  font-weight: 500;
  margin-top: 4.5rem;
  margin-bottom: 0rem;
}

.extensions__card p {
  font-size: 1.6rem;
  margin-top: 2.2rem;
}

.extensions__card__img--bg-dots {
  width: 100%;
  margin-top: 5rem;
}

.extensions__card button {
  color: white;
  background-color: #5368df;
  font-size: 1.8rem;
  padding-top: 2.0rem;
  padding-bottom: 2.0rem;
  font-family: inherit;
  -webkit-box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  font-weight: 500;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  font-size: 1.6rem;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  margin: 3.5rem;
}

.faq {
  width: 100%;
}

.faq__header {
  text-align: center;
}

.faq__subtext {
  text-align: center;
  margin: 0 auto;
  width: 66rem;
}

.faq__accordion {
  margin: 0 auto;
  max-width: 72rem;
}

.faq__accordion h2 {
  font-weight: 400;
  font-size: 2.5rem;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.faq__accordion p {
  font-size: 2rem;
  line-height: 3rem;
  overflow: hidden;
}

.faq__accordion ul {
  list-style: none;
  -webkit-perspective: 900;
          perspective: 900;
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */