*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 103em) {
  html {
    font-size: 50%;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body.noscroll {
  overflow: hidden;
}

h1 {
  font-size: 6.4rem;
  font-weight: 500;
}

@media only screen and (max-width: 45.3em) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 3.3rem;
  font-weight: 500;
}

p {
  color: #9194a1;
  font-size: 2.2rem;
}

@media only screen and (max-width: 45.3em) {
  p {
    font-size: 1.8rem;
    line-height: 20px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8.5rem;
  padding-left: 11.5%;
  padding-right: 6%;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-family: inherit;
}

@media only screen and (max-width: 45.3em) {
  .header {
    padding-top: 5rem;
  }
}

.header.open .header__logo--path {
  fill: white;
}

.header.open .header__logo--circle {
  fill: white;
}

.header.open .header__logo--circle-fill {
  fill: rgba(37, 43, 70, 0.9);
}

.header.open .header__toggle > span {
  background-color: white;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0rem;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: rgba(37, 43, 70, 0.9);
}

.header__menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 13.125rem (8.25rem)[4] 1fr;
      grid-template-rows: 13.125rem repeat(4, 8.25rem) 1fr;
  -ms-grid-columns: 4.125rem 1fr 4.125rem;
      grid-template-columns: 4.125rem 1fr 4.125rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  letter-spacing: 3px;
}

.header__menu a {
  text-decoration: none;
  color: white;
}

.header__menu__item {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(211, 211, 211, 0.2);
  font-size: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu__item:first-child {
  border-top: 1px solid rgba(211, 211, 211, 0.2);
}

.header__menu--features {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.header__menu--pricing {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.header__menu--contact {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.header__menu--login {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  border: solid 2px white;
  color: white;
  background-color: rgba(37, 43, 70, 0.2);
  padding: 1.875rem 15rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-family: inherit;
  font-size: 1.875rem;
  font-weight: 500;
  width: 100%;
  letter-spacing: 3px;
  -webkit-box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  text-shadow: 0rem 0rem 3rem #4d4d4d;
  outline: none;
}

.header__menu--socials {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding-bottom: 5.875rem;
}

.header__menu--twitter {
  padding-left: 5rem;
}

.header__logo {
  margin-right: auto;
  height: 3.5rem;
  width: 20rem;
}

.header__links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__links li {
  margin: 0;
  padding: 0rem 3rem;
}

.header__links a {
  text-decoration: none;
  color: black;
}

.header__links a:hover {
  color: #fa5757;
}

@media only screen and (max-width: 45.3em) {
  .header__links {
    display: none;
  }
}

.header__btn-login {
  border: solid #fa5757;
  color: white;
  background-color: #fa5757;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-family: inherit;
  -webkit-box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  margin-left: 1.2rem;
  text-shadow: 0rem 0rem 3rem #4d4d4d;
  outline: none;
  cursor: pointer;
}

.header__btn-login:hover {
  background-color: white;
  color: #fa5757;
  border: solid #fa5757;
}

.header__btn-login:active {
  -webkit-transform: translateY(1.5px);
          transform: translateY(1.5px);
  -webkit-box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 45.3em) {
  .header__btn-login {
    display: none;
  }
}

.header__toggle {
  display: none;
}

.header__toggle > span {
  display: block;
  width: 18px;
  height: 3px;
  background-color: #252b46;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 0.5px center;
          transform-origin: 0.5px center;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 3px;
}

@media only screen and (max-width: 45.3em) {
  .header__toggle {
    display: block;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 103em) {
  html {
    font-size: 50%;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body.noscroll {
  overflow: hidden;
}

h1 {
  font-size: 6.4rem;
  font-weight: 500;
}

@media only screen and (max-width: 45.3em) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 3.3rem;
  font-weight: 500;
}

p {
  color: #9194a1;
  font-size: 2.2rem;
}

@media only screen and (max-width: 45.3em) {
  p {
    font-size: 1.8rem;
    line-height: 20px;
  }
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [space-start] 11vw [space-end text-start] minmax(min-content, 77rem) [text-end shape-start img-start] minmax(min-content, 82rem) [img-end] 1fr [shape-end];
      grid-template-columns: [space-start] 11vw [space-end text-start] minmax(-webkit-min-content, 77rem) [text-end shape-start img-start] minmax(-webkit-min-content, 82rem) [img-end] 1fr [shape-end];
      grid-template-columns: [space-start] 11vw [space-end text-start] minmax(min-content, 77rem) [text-end shape-start img-start] minmax(min-content, 82rem) [img-end] 1fr [shape-end];
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  height: 75rem;
}

@media only screen and (max-width: 84em) {
  .hero {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    margin-top: 8rem;
  }
}

.hero__text {
  grid-area: 1 / text-start / -1 / text-end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 72.3rem;
}

@media only screen and (max-width: 84em) {
  .hero__text {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-area: 2 / space-start / 3 / img-end;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
}

.hero__text__subtext {
  max-width: 64rem;
  height: 14.5rem;
  margin: 0;
}

@media only screen and (max-width: 84em) {
  .hero__text__subtext {
    margin: 0 auto;
    padding: 0 6rem;
  }
}

.hero__img {
  min-height: 60rem;
  background-size: cover;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-area: 1 / img-start / 2 / img-end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
}

@media only screen and (max-width: 84em) {
  .hero__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-area: 1 / space-start / 2 / img-end;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media only screen and (max-width: 60.5em) {
  .hero__img {
    max-width: 100%;
    display: block;
    min-height: auto;
  }
}

.hero__background-shape {
  margin-top: 20rem;
  margin-left: 24rem;
  max-width: 100%;
  max-height: 47rem;
  background-color: #5368df;
  border-radius: 20rem 0 0 20rem;
  grid-area: 1 / shape-start / -1 / shape-end;
}

@media only screen and (max-width: 84em) {
  .hero__background-shape {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-area: 1 / space-start / 2 / shape-end;
    margin-left: 30%;
  }
}

@media only screen and (max-width: 45.3em) {
  .hero__background-shape {
    margin-top: 9.5rem;
    margin-left: 8rem;
    margin-bottom: 1rem;
  }
}

.hero__btn--chrome {
  color: white;
  background-color: #5368df;
  font-size: 1.8rem;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  font-family: inherit;
  -webkit-box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
  border: solid #5368df;
}

@media only screen and (max-width: 45.3em) {
  .hero__btn--chrome {
    font-size: 1.5rem;
  }
}

.hero__btn--chrome:hover {
  background-color: white;
  color: #5368df;
}

.hero__btn--firefox {
  color: dimgrey;
  background-color: whitesmoke;
  font-size: 1.8rem;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  font-family: inherit;
  -webkit-box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-left: 2rem;
  border: solid whitesmoke;
}

@media only screen and (max-width: 45.3em) {
  .hero__btn--firefox {
    font-size: 1.5rem;
  }
}

.hero__btn--firefox:hover {
  background-color: white;
  border: solid dimgrey;
}

.hero button {
  text-decoration: none;
  padding-right: 3rem;
  padding-left: 3rem;
  border-radius: 0.5rem;
  outline: none;
  border-radius: 0.5rem;
}

.hero button:active {
  -webkit-transform: translateY(1.5px);
          transform: translateY(1.5px);
  -webkit-box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 84em) {
  .features {
    margin-top: 50rem;
  }
}

@media only screen and (max-width: 45.3em) {
  .features {
    margin-top: 18.75rem;
  }
}

.features__heading {
  text-align: center;
}

.features__subtext {
  text-align: center;
  max-width: 72rem;
  margin: 0 auto;
  padding-bottom: 6rem;
}

@media only screen and (max-width: 60.5em) {
  .features__subtext {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 45.3em) {
  .features__subtext {
    padding: 0 4.5rem;
  }
}

.features__tabs {
  width: 97.5rem;
  height: 10rem;
  margin: 0 auto;
  margin-top: 5.625rem;
  padding: 0 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (min-content)[3];
      grid-template-columns: repeat(3, -webkit-min-content);
      grid-template-columns: repeat(3, min-content);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

@media only screen and (max-width: 60.5em) {
  .features__tabs {
    width: 100%;
    height: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (min-content)[4];
        grid-template-rows: repeat(4, -webkit-min-content);
        grid-template-rows: repeat(4, min-content);
  }
}

.features__tabs button {
  width: 100%;
  height: 100%;
  font-size: 2.2rem;
  color: #9194a1;
  background-color: white;
  font-family: "Rubik", sans-serif;
  border: none;
  outline: none;
}

@media only screen and (max-width: 60.5em) {
  .features__tabs button {
    max-width: 49rem;
    height: 7.5rem;
    border-bottom: 1px solid lightgrey;
    margin: 0 auto;
  }
  .features__tabs button:first-child {
    border-top: 1px solid lightgrey;
  }
}

.features__tabs__tab--1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

@media only screen and (max-width: 60.5em) {
  .features__tabs__tab--1 {
    grid-column: 1 / -1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

.features__tabs__tab--2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

@media only screen and (max-width: 60.5em) {
  .features__tabs__tab--2 {
    grid-column: 1 / -1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
}

.features__tabs__tab--3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

@media only screen and (max-width: 60.5em) {
  .features__tabs__tab--3 {
    grid-column: 1 / -1;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
}

.features__tabs__tab--1.active {
  color: black;
}

.features__tabs__tab--2.active {
  color: black;
}

.features__tabs__tab--3.active {
  color: black;
}

.features__tabs div {
  width: 32.5rem;
  height: 0.5rem;
  -webkit-box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  -ms-grid-column-align: center;
      justify-self: center;
}

@media only screen and (max-width: 60.5em) {
  .features__tabs div {
    -webkit-box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0);
            box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0);
    width: 17.75rem;
  }
}

.features__tabs__div--1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

@media only screen and (max-width: 60.5em) {
  .features__tabs__div--1 {
    grid-column: 1 / -1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

.features__tabs__div--2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

@media only screen and (max-width: 60.5em) {
  .features__tabs__div--2 {
    grid-column: 1 / -1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
}

.features__tabs__div--3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

@media only screen and (max-width: 60.5em) {
  .features__tabs__div--3 {
    grid-column: 1 / -1;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
}

.features__tabs__div--1.active {
  background-color: #fa5757;
}

@media only screen and (max-width: 60.5em) {
  .features__tabs__div--1.active {
    -webkit-box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
            box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  }
}

.features__tabs__div--2.active {
  background-color: #fa5757;
}

@media only screen and (max-width: 60.5em) {
  .features__tabs__div--2.active {
    -webkit-box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
            box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  }
}

.features__tabs__div--3.active {
  background-color: #fa5757;
}

@media only screen and (max-width: 60.5em) {
  .features__tabs__div--3.active {
    -webkit-box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
            box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  }
}

.features__tabs__grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

@media only screen and (max-width: 84em) {
  .features__tabs__grid-container {
    -ms-grid-columns: minmax(4rem, 1fr) minmax(31rem, 71.5rem) minmax(4rem, 1fr);
        grid-template-columns: minmax(4rem, 1fr) minmax(31rem, 71.5rem) minmax(4rem, 1fr);
    -ms-grid-rows: 1fr min-content;
        grid-template-rows: 1fr -webkit-min-content;
        grid-template-rows: 1fr min-content;
  }
}

.features__tabs__grid-container p {
  font-size: 2.7rem;
}

@media only screen and (max-width: 25.875em) {
  .features__tabs__grid-container p {
    font-size: 1.8rem;
    line-height: 20px;
  }
}

.features__tabs__grid-container button {
  color: white;
  background-color: #5368df;
  font-size: 1.8rem;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  font-family: inherit;
  -webkit-box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 2rem 3rem;
}

@media only screen and (max-width: 45.3em) {
  .features__tabs__grid-container button {
    font-size: 1.5rem;
  }
}

.features__tabs__grid-container button:active {
  -webkit-transform: translateY(1.5px);
          transform: translateY(1.5px);
  -webkit-box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 84em) {
  .features__tabs__grid-container button {
    display: none;
  }
}

.features__tabs__tab-1__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / -1 / 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 25%;
  width: 100%;
  visibility: hidden;
}

.features__tabs__tab-1__img.active {
  visibility: visible;
}

@media only screen and (max-width: 84em) {
  .features__tabs__tab-1__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
    padding-left: 0;
  }
}

.features__tabs__tab-2__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / -1 / 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 32.5rem;
  width: 100%;
  padding-top: 9.5rem;
  visibility: hidden;
}

.features__tabs__tab-2__img.active {
  visibility: visible;
}

@media only screen and (max-width: 84em) {
  .features__tabs__tab-2__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
    padding-left: 0;
  }
}

.features__tabs__tab-3__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / -1 / 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 32.5rem;
  width: 100%;
  visibility: hidden;
}

.features__tabs__tab-3__img.active {
  visibility: visible;
}

@media only screen and (max-width: 84em) {
  .features__tabs__tab-3__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
    padding-left: 0;
  }
}

.features__tabs__background-shape {
  max-width: 85rem;
  max-height: 47rem;
  background-color: #5368df;
  border-radius: 0 36.5rem 20rem 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / -1 / 2;
  margin-top: 20rem;
  margin-right: 6.5rem;
}

@media only screen and (max-width: 103em) {
  .features__tabs__background-shape {
    max-height: 55rem;
  }
}

@media only screen and (max-width: 84em) {
  .features__tabs__background-shape {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 2 / 3;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 25.875em) {
  .features__tabs__background-shape {
    margin-top: 13.375rem;
  }
}

.features__tabs__tab-1__content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / -1 / 3;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 16.3rem;
  padding-left: 17.5%;
  visibility: hidden;
}

.features__tabs__tab-1__content--subtext {
  max-width: 65rem;
}

.features__tabs__tab-1__content.active {
  visibility: visible;
}

@media only screen and (max-width: 84em) {
  .features__tabs__tab-1__content {
    padding-top: 4.2rem;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-area: 2 / 1 / 3 / -1;
    text-align: center;
    padding-left: 0;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media only screen and (max-width: 25.875em) {
  .features__tabs__tab-1__content {
    padding: 0 4.375rem;
  }
}

.features__tabs__tab-2__content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / -1 / 3;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 16.3rem;
  padding-left: 16.5rem;
  visibility: hidden;
}

.features__tabs__tab-2__content--subtext {
  max-width: 57.5rem;
}

.features__tabs__tab-2__content.active {
  visibility: visible;
}

@media only screen and (max-width: 84em) {
  .features__tabs__tab-2__content {
    padding-top: 4.2rem;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-area: 2 / 1 / 3 / -1;
    text-align: center;
    padding-left: 0;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.features__tabs__tab-3__content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / -1 / 3;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 16.3rem;
  padding-left: 16.5rem;
  visibility: hidden;
}

.features__tabs__tab-3__content--subtext {
  max-width: 65rem;
}

.features__tabs__tab-3__content.active {
  visibility: visible;
}

@media only screen and (max-width: 84em) {
  .features__tabs__tab-3__content {
    padding-top: 4.2rem;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-area: 2 / 1 / 3 / -1;
    text-align: center;
    padding-left: 0;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.extensions {
  width: 100%;
  height: 100vh;
}

.extensions__header {
  text-align: center;
  margin-top: 21.5rem;
}

@media only screen and (max-width: 45.3em) {
  .extensions__header {
    margin-top: 15.625rem;
  }
}

.extensions__subtext {
  text-align: center;
  max-width: 72rem;
  margin: 0 auto;
}

@media only screen and (max-width: 45.3em) {
  .extensions__subtext {
    max-width: 35rem;
  }
}

.extensions__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 34rem;
  height: 53rem;
  border-radius: 2rem;
  -webkit-box-shadow: 0rem 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.1);
  margin-top: 6.5rem;
  margin-bottom: 14.5rem;
}

@media only screen and (max-width: 60.5em) {
  .extensions__card {
    margin: 0;
    height: 46.875rem;
  }
}

.extensions__card--grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr (min-content)[3] 1fr;
      grid-template-columns: 1fr repeat(3, -webkit-min-content) 1fr;
      grid-template-columns: 1fr repeat(3, min-content) 1fr;
  width: 100%;
  height: 81.5rem;
  gap: 4.4rem;
}

@media only screen and (max-width: 60.5em) {
  .extensions__card--grid-container {
    -ms-grid-rows: 1fr (min-content)[3] 1fr;
        grid-template-rows: 1fr repeat(3, -webkit-min-content) 1fr;
        grid-template-rows: 1fr repeat(3, min-content) 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: auto;
  }
}

.extensions__card__chrome {
  grid-row: 1 / -1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-column-align: end;
      justify-self: end;
}

@media only screen and (max-width: 60.5em) {
  .extensions__card__chrome {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.extensions__card__firefox {
  grid-row: 1 / -1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (max-width: 60.5em) {
  .extensions__card__firefox {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.extensions__card__opera {
  grid-row: 1 / -1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

@media only screen and (max-width: 60.5em) {
  .extensions__card__opera {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.extensions__card__img--browser {
  padding-top: 8.5rem;
  width: 13.5rem;
}

@media only screen and (max-width: 60.5em) {
  .extensions__card__img--browser {
    padding-top: 6.25rem;
  }
}

.extensions__card h3 {
  font-size: 2.2rem;
  font-weight: 500;
  margin-top: 4.5rem;
  margin-bottom: 0rem;
}

.extensions__card p {
  font-size: 1.6rem;
  margin-top: 2.2rem;
  margin-bottom: 2.2rem;
}

.extensions__card__img--bg-dots {
  width: 100%;
  margin-top: 5rem;
}

@media only screen and (max-width: 60.5em) {
  .extensions__card__img--bg-dots {
    margin-top: 1.3rem;
  }
}

.extensions__card button {
  color: white;
  background-color: #5368df;
  font-size: 1.8rem;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  font-family: inherit;
  -webkit-box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
  border: Solid #5368df;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  padding-left: 4.2rem;
  padding-right: 4.2rem;
  margin: 3.5rem;
}

@media only screen and (max-width: 45.3em) {
  .extensions__card button {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 60.5em) {
  .extensions__card button {
    margin: 2.75rem;
  }
}

.extensions__card button:active {
  -webkit-transform: translateY(1.5px);
          transform: translateY(1.5px);
  -webkit-box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.extensions__card button:hover {
  color: #5368df;
  background-color: white;
}

.faq {
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 60.5em) {
  .faq {
    margin-top: 88rem;
  }
}

.faq__header {
  padding: 0 2.75rem;
}

.faq__subtext {
  margin: 0 auto;
  max-width: 66rem;
}

@media only screen and (max-width: 60.5em) {
  .faq__subtext {
    max-width: 37.5rem;
  }
}

.faq__accordion {
  max-width: 72.5rem;
  margin: 0 auto;
  padding-top: 8rem;
  padding-left: 0;
  list-style: none;
  text-align: left;
}

@media only screen and (max-width: 45.3em) {
  .faq__accordion {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.faq__accordion__item {
  border-top: 1px solid lightgrey;
}

.faq__accordion__item:last-child {
  border-bottom: 1px solid lightgrey;
}

.faq__accordion__item__header {
  font-weight: 400;
  font-size: 2.4rem;
  padding: 1rem 3rem 0.6rem 0;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media only screen and (max-width: 45.3em) {
  .faq__accordion__item__header {
    font-size: 1.7rem;
  }
}

.faq__accordion__item__header:hover {
  color: #fa5757;
}

.faq__accordion__item__header::after {
  content: url(/images/icon-arrow.svg);
  width: 2.4rem;
  position: absolute;
  right: 3rem;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.faq__accordion__item__header.active::after {
  content: url(/images/icon-arrow-red.svg);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq__accordion__item__body {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.faq__accordion__item__body--content {
  padding: 0.5rem 0;
  line-height: 4.9rem;
  font-weight: 400;
}

.faq button {
  color: white;
  background-color: #5368df;
  font-size: 1.8rem;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  font-family: inherit;
  -webkit-box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 2rem 3rem;
  margin-top: 7.5rem;
  margin-bottom: 20rem;
}

@media only screen and (max-width: 45.3em) {
  .faq button {
    font-size: 1.5rem;
  }
}

.faq button:active {
  -webkit-transform: translateY(1.5px);
          transform: translateY(1.5px);
  -webkit-box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: #5368df;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__subtext {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-top: 9.5rem;
  margin-bottom: 0;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 60.5em) {
  .footer__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__form__container {
  position: relative;
  padding-bottom: 3rem;
  border-radius: 5px;
  max-width: 40rem;
}

.footer__form__container.error {
  background-color: #fa5757;
}

.footer__form__container.error input {
  border-color: #fa5757;
}

.footer__form__container.error i.fa-exclamation-circle {
  visibility: visible;
}

.footer__form__container.error small {
  visibility: visible;
}

.footer__form__container i {
  visibility: hidden;
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 3rem;
  color: #fa5757;
}

.footer__form__container small {
  visibility: hidden;
  position: absolute;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 500;
  color: white;
  padding-top: 0.5rem;
  padding-left: 1.5rem;
}

.footer__form__email {
  color: black;
  font-size: 1.8rem;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  font-family: inherit;
  font-weight: 400;
  border-radius: 0.5rem;
  border: solid white;
  padding-left: 2.5rem;
  display: block;
  width: 100% .footer__form__email;
}

.footer__form__email :focus {
  outline: none;
}

.footer__form__email::-webkit-input-placeholder {
  /* Chrome, Opera, Safari */
  color: rgba(145, 148, 161, 0.5);
}

.footer__form__email::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(145, 148, 161, 0.5);
}

.footer__form__email:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(145, 148, 161, 0.5);
}

.footer__form__email:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(145, 148, 161, 0.5);
}

.footer__form__submit {
  color: white;
  background-color: #fa5757;
  font-size: 1.8rem;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  font-family: inherit;
  -webkit-box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
  border: solid #fa5757;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: 2rem;
  max-height: 6.2rem;
}

@media only screen and (max-width: 45.3em) {
  .footer__form__submit {
    margin-top: 1.5rem;
  }
}

.footer__form__submit:hover {
  background-color: white;
  color: #fa5757;
}

.footer__form__submit:active {
  -webkit-transform: translateY(1.5px);
          transform: translateY(1.5px);
  -webkit-box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 60.5em) {
  .footer__form__submit {
    margin-left: 0;
  }
}

.footer__header {
  color: white;
  text-align: center;
  max-width: 54.5rem;
  font-size: 3.6rem;
  margin: 6rem 0;
}

@media only screen and (max-width: 45.3em) {
  .footer__header {
    font-size: 3rem;
    max-width: 38.75rem;
    margin: 2.25rem 0;
  }
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #252b46;
  width: 100%;
  height: 12rem;
  margin-top: 10rem;
}

@media only screen and (max-width: 60.5em) {
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 42rem;
  }
}

.footer__nav__links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-family: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__nav__links a {
  text-decoration: none;
  color: white;
}

.footer__nav__links a:hover {
  color: #fa5757;
}

.footer__nav__links li {
  margin: 0;
  padding: 0rem 3rem;
}

@media only screen and (max-width: 60.5em) {
  .footer__nav__links li {
    padding: 0;
  }
}

@media only screen and (max-width: 60.5em) {
  .footer__nav__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4.4rem;
    padding: 0;
    font-size: 1.6rem;
    margin: 5rem 0;
  }
}

.footer__nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 22rem;
}

@media only screen and (max-width: 60.5em) {
  .footer__nav__logo {
    padding-left: 0;
    margin: 0 auto;
    margin-top: 5rem;
  }
}

.footer__nav__socials-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 60.5em) {
  .footer__nav__socials-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5rem;
  }
}

.footer__nav__socials.twitter {
  padding-right: 22rem;
}

@media only screen and (max-width: 60.5em) {
  .footer__nav__socials.twitter {
    padding: 0;
  }
}

.footer__nav__socials.facebook {
  padding: 0 5rem;
}

@media only screen and (max-width: 60.5em) {
  .footer__nav__socials.facebook {
    padding: 0;
  }
}

.footer__nav__facebook:hover {
  fill: #fa5757;
  cursor: pointer;
}

.footer__nav__twitter--path:hover {
  fill: #fa5757;
  cursor: pointer;
}

.attribution-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.attribution-container {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}
/*# sourceMappingURL=style.css.map */